body {
    background-color: #A8A8A8;  /* #223D32;*/
    /*background-image: url('/img/office-building.jpg'); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 113rem;
   /* background-position-y: 18rem; */

    font-family: 'Roboto', sans-serif;
    color:  grey;
}

.header-bg-style {
    
    background-color: #b96a76; /* red */ 
    margin-top: -2rem;
    color: #ECF0F5;
   /*  border-width: 0.5em; */
  /*  border-bottom-style: outset; */
     /* #4cb69f  for sub menu */
}

.jumbotron {
    padding: 20px;
     background-color: #3A2226;
  /*  background-image: linear-gradient(to right, #220D32, #3D222D, #303639); */


 }

 

#middle-section {
    margin-top: 6rem;
}

.adjust-topm {

}

.form-width {
 width: 10rem;
 color: rgb(139, 127, 127);
}

footer {

  /*  background-image: linear-gradient(to right, #220D32, #3D222E, #647781); */

  /* background-image: linear-gradient(to right, #220D32, #3D222D, #303639);  */
  background-color: #3A2226;
  padding: 20px 0;
    margin-top: 400px;
    min-height: 12em;
}

button {

    background-color: transparent;
    color: grey;

}
.candidate-pool-style, .job-pool-style, .company-pool-style {


    background-color: transparent; /* #3D222D; */
    text-align: center;
    color: grey;
    /*
    border-style: outset;
    border-width: 0.3em;
    border-color: #6C6C6C; */
    align-items: center;
    

}

.flex-img {

    size: 10rem;
    margin-left: 10rem;

}
.table-cherry {
    background-color: #8a9641;

}

/*
.row div {
  border: solid green;
  text-align: center;
  
}
*/

.row-content {

    padding-top: 50px;
    min-height: 200px;
}

.login-box {
    margin-top: 75px;
    width: 600px;
    height: auto;
    background: #3A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 10px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 5px;
}

.btn-outline-primary {
    text-align: center;
    float: right;
    padding: 10px;
    border-color: #0DB8DE;
    color: #A2A4A4;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.login-button {
    padding: 10px;
    padding-right: 50px;
    text-align: right;
    margin-bottom:5px;
}

.login-text {
    text-align: center;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}

